This repository is for challenges from r/dailyprogrammer_ideas. 
Big or small for my personal self #Dan-Laden. 
I'm making this to motivate myself to program in my spare time. 
The goal is one to two challenges a week with no more than one per day and three per week. 
While doing this I'll be using github to document my files and to keep up on my knowledge of this resource. 
At the creation of this repository it is not public; this is so I have time to work on my work ethic.

@Dan-Laden
